<div class="my-5 text-center align-middle">

    <button class="primary" routerLink="/you-first">Take Action</button>

    <a href="https://www.facebook.com/groups/campaignforrepresentativedemocracy" target="_blank">
        <div class="d-inline h-100">
            <img src="/assets/f_logo_RGB-Blue_58.png" alt="" class="social">
            Join us on Facebook
        </div>
    </a>


    <a target="_blank" href="https://twitter.com/search?q=DemandDemocracy&src=typed_query">
        <img src="/assets/Twitter_Logo_WhiteOnBlue.png" alt="DemandDemocracy on Twitter" class="social">
        #DemandDemocracy</a>
</div>