<div class="content">

    <app-countdown></app-countdown>
        
    <h1>Campaign for Representative Democracy</h1>

    <h2>Does your MP or election candidate believe in Representative Democracy?</h2>

    <hr>

    <h2>Is he/she comitted to reform of the unelected and unrepresentative House of Lords?</h2>

    <h2>Is he/she open to bribes or susceptible to bullying or blackmail by the party whips?</h2>

    <h2>Does he/she believe that whipping should be a crime and that any attempt to bribe, bully or blackmail them
        should be a matter for the law?
    </h2>

    <h2>Does he/she support free votes in secret ballots on all matters?</h2>

    <h2>Does he/she believe in Proportional Representation?</h2>

    <hr>

    <h2 class="highlight">Ask your MP or election candidate to put you the voter first and support the Campaign for Representative
        Democracy.</h2>

    <hr>
    <div>
        Contact details for members of parliament may be found at <a
            href="https://members.parliament.uk/FindYourMP">https://members.parliament.uk/FindYourMP</a>
    </div>

    <form action="">
        <div>Your MPs first name</div><div><input type="text"></div>
        <div>Your MPs last name</div><div><input type="text"></div>
        <div>Your MPs email address</div><div><input type="text"></div>
        <div>Your email address</div><div><input type="text"></div>
        <div>Your house number and street name</div><div><input type="text"></div>
        <div>Your Post Code</div><div><input type="text"></div>
        <div>Your telephone number (optional)</div><div><input type="text"></div>
        <div>Your message</div><div><input type="text"></div>
        <div>
            <button>submit</button>
        </div>
    </form>

</div>