<div class="content">

    <div class="page">
        <div class="container-right">
            <p>The Campaign For Representative Democracy</p>
        </div>

        <div class="container-right mb-5">
            <p>31st October 2020</p>
        </div>

        <div>
            <p class="mb-5">The Rt Hon Boris Johnson, MP, The Prime Minister<br />
                House of Commons<br />
                London<br />
                SW1A 0AA</p>

            <p>Dear Prime Minister,</p>

            <p>We are writing to you to express our concern about</p>
            <ul>
                <li>your government's disrespect for our laws and democracy</li>
                <li>your government's mission to undermine the organisations whose duty it is to hold
                    the government of the day to account</li>
            </ul>

            <p>
                There are many examples which provide evidence of a "power grab"
                and attacks on the institutions set up to
                defend our laws and democratic processes.</p>

            <p class="declaration">
                We ask you to declare your support for a representative democracy
                that respects our laws, international laws,
                the will of the British people, their representatives,
                the ministerial code and the institutions which help to ensure our
                system of government becomes more democratic and accountable, not less.
            </p>

            <p>Sincerely,</p>


            <p>
                The Campaign For Representative Democracy<br />
                Other signatories
            </p>
        </div>
    </div>

    <h1>The case to answer:</h1>

    <div class="page">

        <h1>1. Disrespect for our Laws: The Justice and Security Act</h1>

        <h3>The Law</h3>
        <p>
            “ … the 2013 Justice and Security Act explicitly removed the right of the prime minister
            to choose the ISC [Intelligence and Security Committee] chairman and gave it to the committee members.”
        </p>

        <h3>Disrespect for The Law</h3>
        <p>
            Downing Street's attempt to impose a "preferred candidate"
            shows contempt for laws drafted
            to ensure proper democratic accountability in government.
        </p>

        <h3>Why this is important</h3>

        <p>
            The Intellligence and Security Committee <a
                href="https://en.wikipedia.org/wiki/Intelligence_and_Security_Committee_Russia_report"
                target="_blank">Russia Report</a> found substantial evidence
            that Russian interference in British politics is commonplace.
            We need independent bodies such as the ISC to assess the level of interference
            and who benefits from that interference. The fact that the government would rather you didn't know about
            this speaks volumes.
        </p>

        <h3>Comment</h3>
        <p>
            “The committee can only exist, the committee can only be respected
            ... if it is seen to be non-partisan and independent.”
        </p>
        <p>
            <a href="https://www.theguardian.com/politics/2020/jul/16/julian-lewis-attempt-to-impose-grayling-was-improper-request"
                target="_blank">Dominic Grieve</a> Guardian, July 2020
        </p>

        <p>
            This government has been learning from the Trump presidency where people are hired for their loyalty to the
            leader rather than their fitness for the role.
        </p>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/921683023&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/freevote" title="Alex Cooper" target="_blank"
                style="color: #cccccc; text-decoration: none;">Alex Cooper</a> · <a
                href="https://soundcloud.com/freevote/what-sort-of-person-places-loyalty-before-experience"
                title="Authoritarians place Loyalty before Experience" target="_blank"
                style="color: #cccccc; text-decoration: none;">Authoritarians place Loyalty before Experience</a></div>
        <p>
            From Totally Under Control: Trump and Covid 19, BBC 2 01/11/2020
        </p>

    </div>

    <div class="page">

        <h1>2. Disrespect for our Laws: The Equality Act 2010
        </h1>

        <h3>The Law</h3>

        <p>
            The <a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Equality Act 2010</a>
            legally protects people from discrimination in the workplace and in wider society.
        </p>
        <p>
            It replaced previous anti-discrimination laws with a single Act, making the law easier to understand and
            strengthening protection in some situations. It sets out the different ways in which it’s unlawful to treat
            someone.
        </p>
        <h3>Disrespect for The Law</h3>

        <p>The government's hostile immigtration policy and Windrush Scandal
            demonstrates disrespect for laws created to protect basic human rights.
        </p>

        <p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/937296868&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/freevote" title="Alex Cooper" target="_blank"
                style="color: #cccccc; text-decoration: none;">Alex Cooper</a> · <a
                href="https://soundcloud.com/freevote/20201125-failure-to-comply-with-equality-law"
                title="20201125 Failure To Comply With Equality Law" target="_blank"
                style="color: #cccccc; text-decoration: none;">20201125 Failure To Comply With Equality Law</a></div>

        <p>
            BBC Radio 4, Nov 2020
        </p>

        <p>
            On the Government's "hostile environment" and
            <a href="https://en.wikipedia.org/wiki/Windrush_scandal#:~:text=In%20November%202020%2C%20a%20report,members%20of%20the%20Windrush%20generation."
                target="_blank">the Windrush Scandal</a>,
            <a href="https://www.equalityhumanrights.com/en/inquiries-and-investigations/assessment-hostile-environment-policies"
                target="_blank">The Equality and Human Rights Commission</a>
            concluded that
            "the Home Office did not comply with section 149 of the Equality Act 2010 (the Public Sector
            Equality Duty)."</p>

        <h3>Why this is important</h3>

        <p>
            Discrimination in its many forms is about an abuse of power.
            That could be the abuse of power one individual has over another,
            or the abuse of government power in denying established human rights.
        </p>

        <p>The government is there to set an example to us all.
            When they break laws and get away with it,
            it's the end of a civilised society that we're all working towards.
        </p>

        <h3>Comment</h3>

        <p>The Home Office kept no record of those granted leave to remain and issued no paperwork - making it is
            difficult for Windrush arrivals to prove their legal status.</p>
        <p>In 2010, The Home Office destroyed landing cards belonging to Windrush migrants.</p>

        <p>Windrush Generation <a href="https://www.bbc.co.uk/news/uk-43782241">BBC</a></p>
        <hr>

        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">These individuals have done nothing wrong and there is no basis upon which the Home
                Office can justify what they are doing. These individuals have lived in this country for decades –
                working hard, paying taxes, raising their families and contributing so much to our country.</p>&mdash;
            David Lammy (@DavidLammy) <a
                href="https://twitter.com/DavidLammy/status/985816468192415744?ref_src=twsrc%5Etfw">April 16, 2018</a>
        </blockquote>

        <hr>
        <p>"The Windrush scandal was a failure of law, policy, politics and bureaucracy."</p>
        <p><a
                href="https://www.instituteforgovernment.org.uk/blog/windrush-scandal-was-failure-law-policy-politics-and-bureaucracy">Institute
                for Government</a> March 2020</p>

        <hr>
        <p>When a government's instinct goes against the spirit of the law, they will soon come up against the letter of
            the law.</p>

        <p>However, this government has no respect for the law. Watch out for attacks on the Equality and Human Rights
            Commission</p>
    </div>

    <div class="page">

        <h1>3. Disrespect for International Law</h1>

        <p>UK government admits it will break international law over Brexit treaty.</p>

        <p><a href="https://www.bbc.co.uk/news/uk-politics-54073836" target="_blank">BBC</a>, September 2020</p>

        <p>The Internal Market Bill breaks international law and lays the ground to break more law</p>

        <p> <a href="https://www.instituteforgovernment.org.uk/blog/internal-market-bill-breaks-international-law"
                target="_blank">Institute
                For Government</a>, September 2020</p>

    </div>

    <div class="page">

        <h1>4. Disrespect for Democracy:
            <br />Attacking the Electoral Commission</h1>

        <p>
            <a href="https://www.spectator.co.uk/article/the-mafia-style-hit-on-the-electoral-commission"
                target="_blank">
                <img src="assets/mafia attack.PNG" alt="Mafia Style Attack on the Electoral Commission"
                    class="center"></a>
        </p>

        <p>
            "The Tories cannot forgive the Electoral Commission for investigating Vote Leave."
        </p>

        <p>
            Their response is to attack anyone or any organisation expressing an independent view
            and to claim to know best and to self-regulate.
            When any organisation seeks to self-regulate, we should be concerened.
        </p>

        <p>
            "All the clichés about putting Dracula in charge of the blood bank and the fox in charge of the hen house
            apply."
        </p>

        <p>
            <a href="https://www.spectator.co.uk/article/the-mafia-style-hit-on-the-electoral-commission"
                target="_blank">Nick Cohen</a> Spectator, August 2020
        </p>

        <hr>

        <p> The Electoral Commission regulates political donations, spending and other areas, and has the power to
            undertake its
            own
            investigations, and fine parties and officials for breaches of the rules.</p>

        <p>
            <a href="https://www.theguardian.com/politics/2020/aug/31/tory-plans-to-scrap-election-watchdog-undermines-democracy"
                target="_blank">Peter Walker</a> Guardian, August 2020
        </p>

        <hr>

        <p>
            Our elections watchdog needs strengthening, not scrapping.
        </p>

        <p>
            <a href="https://www.electoral-reform.org.uk/our-elections-watchdog-needs-strengthening-not-scrapping/"
                target="_blank">Electoral Reform Society</a>, August 2020
        </p>

        <hr>

        <p>"The secret history of the rigging of the system begins with Michael Gove ... "</p>

        <p><a
                href="https://www.theguardian.com/commentisfree/2020/nov/14/the-us-right-is-skilled-in-voter-suppression-and-the-tories-are-learning-fast">Nick
                Cohen</a> Guardian, November 2020</p>
    </div>

    <div class="page">



        <h1>5. Disrepect for Democracy:
            <br />Refusal to Ensure The Integrity of Elections</h1>

        <p>
            Cross-party group files claim to force inquiry into Russian interference in UK elections.
        </p>
        <p>
            <a href="https://www.theguardian.com/politics/2020/oct/29/legal-action-taken-against-pm-over-refusal-to-investigate-kremlin-meddling"
                target="_blank">Guardian</a>, October 2020
        </p>

        <p>
            Legal action taken against PM over refusal to investigate Kremlin meddling.
        </p>


        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/919946650&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/freevote" title="Alex Cooper" target="_blank"
                style="color: #cccccc; text-decoration: none;">Alex Cooper</a> · <a
                href="https://soundcloud.com/freevote/failure-to-protect-democracy"
                title="Failure To Protect Democracy - BBC Radio 4 29/10/2020" target="_blank"
                style="color: #cccccc; text-decoration: none;">Failure To Protect Democracy - BBC Radio 4 29/10/2020</a>
        </div>



    </div>

    <div class="page">

        <h1>
            6. Disrespect for Parliament:
            <br />Abuse of executive power
        </h1>

        <p>UK Supreme Court ruled today that the Government’s decision to prorogue Parliament for five weeks was
            unlawful.</p>

        <p>
            <a href="https://commonslibrary.parliament.uk/decision-of-the-supreme-court-on-the-prorogation-of-parliament/"
                target="_blank">UK Supreme Court</a>, September 2019
        </p>

    </div>

    <div class="page">

        <h1>
            7. Disrespect for the ministerial code
        </h1>

        <p>
            Although judged to be in breach of the ministerial code, Priti Patel
            remains in post backed by the Prime Minister which led to the resignation of Sir Alex Allen
            saying he can’t in all conscience carry on as the independent inviligator of ministerial conduct
            if the prime minister is simply going to ignore his recommendations.
        </p>
        <p>
            "For the civil service, and everyone else, it is a reminder of how easy it is
            to break the institutional restraints on bad ministerial behaviour
            when you have a prime minister who ignores the rules."
        </p>
        <p>
            The prime minister shares Dominic Cummings belief that "rules are for little people".
        </p>
        <p>
            <a
                href="https://www.theguardian.com/commentisfree/2020/nov/22/how-boris-johnson-attempted-a-grand-relaunch-only-to-be-sunk-by-himself">Andrew
                Rawnsley, Observer</a>

        </p>
        <p><a
                href="https://www.theguardian.com/commentisfree/2020/nov/22/the-observer-view-on-the-government-disdain-for-the-rule-of-law">Bullying
                and Cronyism</a>
            November 2020</p>
    </div>


    <div class="page">
        <h1>8. Disrespect for regulations:
            <br />Failure to safeguard the public</h1>

        <p>
            Would Grenfell have happened if it wasn't for the government's
            deeply held disrespect for regulations?
        </p>
        <hr>
        <p>
            The housing secretary, Robert Jenrick, “shocked” by the Grenfell revelations,
            insisted on the need for “stiffer regulation for building safety”,
            which is “too lax”.
            He failed to mention that the regulations are too lax because of a
            long history of government mania for deregulation.
            Or that the year before the Grenfell fire,
            the then business secretary, Sajid Javid, had introduced a
            “one in, three out” rule, meaning that for every regulation introduced,
            three had to be cut, and the government boasted of reducing fire safety inspections
            from six hours to 45 minutes.
        </p>
        <p>
            " ... absolute power still corrupts in high places" <a
                href="https://www.theguardian.com/commentisfree/2020/nov/22/from-grenfell-to-ppe-absolute-power-still-corrupts-in-high-places">Kenan
                Malik</a> November 2020
        </p>
    </div>



    <div class="page">
        <h1>It's not too late Prime Minister</h1>


        <p class="declaration">
            We ask you to declare your support for a representative democracy
            that respects our laws, international laws,
            the will of the British people, their representatives,
            the ministerial code and the institutions which help to ensure our
            system of government becomes more democratic and accountable, not less.
        </p>

    </div>

</div>