<div class="content">

    <h1>You don't vote for Kings</h1>

    <p>So what gives them a right to rule?</p>

    <ul>
        <li>It's not a mandate from the people</li>
    </ul>

    <div class="youTube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t2c-X8HiBng" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <h1>Magna Carta</h1>

    <h1>Peterloo</h1>

    <h1>The Chartists</h1>

    <h1>Suffragettes</h1>

</div>