.h1pad {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.content img {
    width: 100%;
}

.whitespace {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bi {
    font-weight: bold;
    font-style: italic;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.mw300{
    max-width:300px;
}

@media (min-width: 576px) {
    .whitespace {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}